
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

.active{
  position: relative;
}
.active::after{
position: absolute;
bottom: 0;
content: '';
width: 100%;
background-color:  rgb(198, 137, 25);
height: 2px;
}

.layout{
  padding: 30px;
  .layout-btn{
    margin-left: auto;
  }

}